body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: var(--primary-page-background-color);
  color: var(--text-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

main {
  flex-grow: 1;
}

.blur-up {
  filter: blur(5px);
  transition: filter 400ms;
}

.blur-up.lazyloaded {
  filter: blur(0);
}
