.container {
  padding: 0 15px;
}

.container--search-form {
  background-color: rgb(1, 59, 1);
  padding-top: 15px;
  padding-bottom: 15px;
}

.container--gallery {
  flex-grow: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: antiquewhite;
}
