.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search-form__input {
  padding: 5px;
  width: 70%;

  border-radius: 5px;
  border-color: rgb(5, 1, 15);
  background-color: antiquewhite;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgb(1, 59, 1);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .search-form__input {
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .search-form__input {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .search-form__input {
    width: 50%;
  }
}
